# Data Exploration

In this notebook describe your data exploration steps.

## Install dependencies

In [22]:
%pip install pandas
%pip install SQLAlchemy

Requirement already satisfied: pandas in c:\users\dominic\appdata\local\programs\python\python310\lib\site-packages (2.0.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\dominic\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.23.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dominic\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\dominic\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\dominic\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.4)
Requirement already satisfied: six>=1.5 in c:\users\dominic\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: SQLAlchemy in c:\users\dominic\appdata\local\programs\python\python310\lib\site-packages (2.0.13)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\dominic\appdata\local\programs\python\python310\lib\site-packages (from SQLAlchemy) (4.4.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\dominic\appdata\local\programs\python\python310\lib\site-packages (from SQLAlchemy) (2.0.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

## Load data

In [23]:
import pandas as pd

ds1_df = pd.read_sql_table('connection_time_graph', 'sqlite:///project/data/train_connection_analysis.sqlite')
ds2_df = pd.read_sql_table('timetable_for_stations', 'sqlite:///project/data/train_connection_analysis.sqlite')

### Look at the first rows

#### Head of Datasource1

In [24]:
ds1_df.head(10)

   index  source destination  duration transportType
0  90398  Aachen    Augsburg       302         train
1  90399  Aachen    Augsburg       314         train
2  90400  Aachen    Augsburg       409         train
3  90401  Aachen    Augsburg       318           car
4  90403  Aachen      Berlin       356         train
5  90404  Aachen      Berlin       351         train
6  90405  Aachen      Berlin       419         train
7  90406  Aachen      Berlin       352           car
8  90407  Aachen   Bielefeld       215         train
9  90408  Aachen   Bielefeld       193         train

#### Head of Datasource2

In [25]:
ds2_df.head(10)

,level_0,level_1,id,t,from,to,cat,ts,ts-tts,pr
0,Aachen Hbf,0,r1923001,h,2.303310e+09,2.306302e+09,Bauarbeiten. (Quelle: zuginfo.nrw),2304052150,23-06-10 23:16:08.647,2.0
1,Aachen Hbf,1,r1963748,h,2.306092e+09,2.306151e+09,Bauarbeiten. (Quelle: zuginfo.nrw),2306101028,23-06-10 23:16:09.041,2.0
2,Aachen Hbf,2,r1957826,h,2.305210e+09,2.306252e+09,Information,2305191338,23-06-10 23:16:08.872,2.0
3,Aachen Hbf,3,r1923001,h,2.303310e+09,2.306302e+09,Bauarbeiten. (Quelle: zuginfo.nrw),2304052150,23-06-10 23:16:08.647,2.0
4,Aachen Hbf,4,r1963748,h,2.306092e+09,2.306151e+09,Bauarbeiten. (Quelle: zuginfo.nrw),2306101028,23-06-10 23:16:09.041,2.0
5,Aachen Hbf,5,r1973885,h,2.306111e+09,2.306112e+09,Störung. (Quelle: zuginfo.nrw),2306111216,23-06-11 12:16:24.057,1.0
6,Aachen Hbf,6,r1973885,h,2.306111e+09,2.306112e+09,Störung. (Quelle: zuginfo.nrw),2306111216,23-06-11 12:16:24.057,1.0
7,Aachen Hbf,7,r1963748,h,2.306092e+09,2.306151e+09,Bauarbeiten. (Quelle: zuginfo.nrw),2306101028,23-06-10 23:16:09.041,2.0
8,Aachen Hbf,8,r1973885,h,2.306111e+09,2.306112e+09,Störung. (Quelle: zuginfo.nrw),2306111216,23-06-11 12:16:24.057,1.0
9,Aachen Hbf,9,r1973885,h,2.306111e+09,2.306112e+09,Störung. (Quelle: zuginfo.nrw),2306111216,23-06-11 12:16:24.057,1.0

### Data exploration

#### Datasource1 Basic informations

In [26]:
ds1_df.info() 
print("Towns in Datasource1:")
towns_ds1 = ds1_df["source"].unique()
towns_ds1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22200 entries, 0 to 22199
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          22200 non-null  int64
 1   source         22200 non-null  object
 2   destination    22200 non-null  object
 3   duration       22200 non-null  int64
 4   transportType  22200 non-null  object
dtypes: int64(2), object(3)
memory usage: 867.3+ KB
Towns in Datasource1:

array(['Aachen', 'Augsburg', 'Berlin', 'Bielefeld', 'Bochum', 'Bonn',
       'Bottrop', 'Braunschweig', 'Bremen', 'Bremerhaven', 'Chemnitz',
       'Cottbus', 'Darmstadt', 'Dortmund', 'Dresden', 'Duisburg',
       'Erfurt', 'Erlangen', 'Essen', 'Flensburg', 'Gelsenkirchen',
       'Hagen', 'Hamburg', 'Hamm', 'Hanau', 'Hannover', 'Heidelberg',
       'Heilbronn', 'Herne', 'Hildesheim', 'Ingolstadt', 'Iserlohn',
       'Kaiserslautern', 'Karlsruhe', 'Kassel', 'Kiel', 'Koblenz',
       'Konstanz', 'Krefeld', 'Leipzig', 'Leverkusen', 'Ludwigsburg',
       'Magdeburg', 'Mainz', 'Mannheim', 'Marl', 'Minden', 'Moers',
       'Neuss', 'Oberhausen', 'Oldenburg', 'Paderborn', 'Pforzheim',
       'Potsdam', 'Ratingen', 'Recklinghausen', 'Regensburg', 'Remscheid',
       'Reutlingen', 'Rostock', 'Salzgitter', 'Schwerin', 'Solingen',
       'Sterkrade', 'Stuttgart', 'Trier', 'Ulm', 'Velbert',
       'Villingen-Schwenningen', 'Wiesbaden', 'Witten', 'Wolfsburg',
       'Worms', 'Wuppertal', 'Zwickau'], dtype=object)

#### Datasource2 Basic information

In [27]:
ds2_df.info()
print("Towns in Datasource2:")
towns_ds2 = ds2_df["level_0"].unique()
towns_ds2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18555 entries, 0 to 18554
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   level_0  18555 non-null  object
 1   level_1  18555 non-null  int64
 2   id       18555 non-null  object
 3   t        18555 non-null  object
 4   from     18137 non-null  float64
 5   to       18137 non-null  float64
 6   cat      17707 non-null  object
 7   ts       18555 non-null  int64
 8   ts-tts   18555 non-null  object
 9   pr       17707 non-null  float64
dtypes: float64(3), int64(2), object(5)
memory usage: 1.4+ MB
Towns in Datasource2:

array(['Aachen Hbf', 'Augsburg Hbf', 'Berlin Hbf', 'Bielefeld Hbf',
       'Bochum Hbf', 'Bonn Hbf', 'Bottrop Hbf', 'Braunschweig Hbf',
       'Bremen Hbf', 'Bremerhaven Hbf', 'Chemnitz Hbf', 'Cottbus Hbf',
       'Darmstadt Hbf', 'Dortmund Hbf', 'Dresden Hbf', 'Duisburg Hbf',
       'Düren', 'Düsseldorf Hbf', 'Erfurt Hbf', 'Erlangen', 'Essen Hbf',
       'Flensburg', 'Gelsenkirchen Hbf', 'Göttingen', 'Gütersloh Hbf',
       'Hagen Hbf', 'Hamburg Hbf', 'Hanau Hbf', 'Hannover Hbf',
       'Heidelberg Hbf', 'Heilbronn Hbf', 'Herne', 'Hildesheim Hbf',
       'Ingolstadt Hbf', 'Iserlohn', 'Kaiserslautern Hbf',
       'Karlsruhe Hbf', 'Kassel Hbf', 'Kiel Hbf', 'Koblenz Hbf',
       'Konstanz', 'Krefeld Hbf', 'Köln Hbf', 'Leipzig Hbf',
       'Ludwigsburg', 'Lübeck Hbf', 'Lünen Hbf', 'Magdeburg Hbf',
       'Mainz Hbf', 'Mannheim Hbf', 'Moers', 'Mönchengladbach Hbf',
       'München Hbf', 'Neuss Hbf', 'Nürnberg Hbf', 'Oberhausen Hbf',
       'Osnabrück Hbf', 'Paderborn Hbf', 'Pforzheim Hbf', 'Potsdam Hbf',
       'Recklinghausen Hbf', 'Regensburg Hbf', 'Remscheid Hbf',
       'Reutlingen Hbf', 'Rostock Hbf', 'Saarbrücken Hbf', 'Schwerin Hbf',
       'Solingen Hbf', 'Stuttgart Hbf', 'Trier Hbf', 'Tübingen Hbf',
       'Ulm Hbf', 'Wiesbaden Hbf', 'Witten Hbf', 'Wolfsburg Hbf',
       'Worms Hbf', 'Wuppertal Hbf', 'Würzburg Hbf'], dtype=object)